
  <div id="content">
    <div id="top-bar">
      <div id="next_turn">Next turn</div>
      <div id="select_hero">Select hero</div>
      <div id="full_screen">full screen</div>
      <div id="toggle_coords">Toggle coords</div>
      <div id="action"></div>
      <div id="message"></div>
    </div>
    <div id="mandos">
      <div id="heroes">
        <div class="stats">
          <label>gender
            <select id="gender">
              <option value="hero">male</option>
              <option value="heroine">female</option>
            </select>
          </label>
          <label>head
            <select id="head">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </label>
          <label>combat
            <input type="number" id="combat" max="10" min="1" value="7" >
          </label>
          <label>movement
            <input type="number" id="mov" max="10" min="1" value="7">
          </label>
          <label>main weapon
            <select id="main">
              <option value="0">dagger</option>
              <option value="1">short sword</option>
              <option value="2">long sword</option>
              <option value="3">great sword</option>
              <option value="4">great axe</option>
            </select>
          </label>
          <label>shield
            <select id="sec">
              <option value="0">none</option>
              <option value="1">buckler</option>
              <option value="2">shield</option>
            </select>
          </label>
          <label>armor
            <select id="armor">
              <option value="0">none</option>
              <option value="1">leather armor</option>
              <option value="2">steel armor</option>
              <option value="3">great armor</option>
            </select>
          </label>
        </div>
        <div class="hero_preview"></div>
        <div class="hero">
          Add
        </div>
        <input type="range" id="orientation" value="4" min="1" max="7" step="1">
      </div>
    </div>
    <div id="tablero">
      <div id="map">
      </div>
    </div>
  </div>
